click==7.1.2
colorama==0.4.4
Flask==1.1.2
Flask-SocketIO==4.3.1
ghidra-bridge==0.2.5
itsdangerous==1.1.0
jfx-bridge==0.8.0
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.4
pandare==0.1.1.2
protobuf==3.0.0
pycparser==2.20
python-engineio==3.13.2
python-socketio==4.6.0
scipy==1.5.4
six==1.15.0
Werkzeug==1.0.1